name: Compile Kernel

on:
  # Allow to trigger action manually
  workflow_dispatch:
    inputs:
      kernel_version:
        description: 'Kernel Version'
        required: true
        default: '6.14.11'
        type: string

jobs:
  build_kernel:
    runs-on: self-hosted

    steps:
    - name: Checkout repository
      uses: actions/checkout@v5
      with:
        fetch-depth: 1

    - name: Install dependencies
      run: apt-get update && apt-get -y install build-essential flex bison libncurses-dev libssl-dev libelf-dev bc dwarves kmod squashfs-tools rsync git cpio xz-utils iucode-tool

    - name: Compile Kernel
      run: |
        # Set Variables and create directories
        WORK_DIR=${{ github.workspace }}
        BUILD_DIR=${WORK_DIR}/build
        KERNEL_V=${{ github.event.inputs.kernel_version }}
        rm -rf /lib/modules /lib/firmware
        mkdir -p $BUILD_DIR $WORK_DIR/$KERNEL_V $BUILD_DIR/$KERNEL_V $BUILD_DIR/microcode/kernel/x86/microcode $BUILD_DIR/microcode/kernel/firmware/amd-ucode /lib/modules /lib/firmware

        # Safety check for Kernel versions ending with 0
        if [ "${KERNEL_V##*.}" == "0" ]; then
          DL_KERNEL_V="${KERNEL_V%.*}"
        else
          DL_KERNEL_V=$KERNEL_V
        fi

        # Download and extract Kernel
        cd $BUILD_DIR
        wget -O $BUILD_DIR/linux-$KERNEL_V.tar.xz https://cdn.kernel.org/pub/linux/kernel/v${KERNEL_V%%.*}.x/linux-$DL_KERNEL_V.tar.xz;
        tar -C $BUILD_DIR/$KERNEL_V --strip-components=1 -xf $BUILD_DIR/linux-$KERNEL_V.tar.xz

        # Copy Kernel config
        cd $BUILD_DIR/$KERNEL_V
        cp $WORK_DIR/kernel-config/config $BUILD_DIR/$KERNEL_V/.config

        # Compile Kernel
        make oldconfig
        make -j$(nproc --all)

        # Copy image to output directory
        cp $BUILD_DIR/$KERNEL_V/arch/x86_64/boot/bzImage $WORK_DIR/image

        # Save Kernel
        echo "Creating Kernel archive..."
        XZ_OPT="-9 -T0" tar -cJf $WORK_DIR/${KERNEL_V}-mos.tar.xz .

        # Install Modules to /lib/modules
        make modules_install -j$(nproc --all)
        
        # Clone Linux Firmware
        cd $WORK_DIR
        git clone --depth 1 https://git.kernel.org/pub/scm/linux/kernel/git/firmware/linux-firmware.git $WORK_DIR/firmware-source
        cd $WORK_DIR/firmware-source
        FW_COMMIT=$(git rev-parse HEAD)
        FW_COMMIT_SHORT=$(git rev-parse --short HEAD)
        $WORK_DIR/firmware-source/copy-firmware.sh $WORK_DIR/linux-firmware

        # Set MODULE_PATH variable
        cd $WORK_DIR
        MODULE_PATH="/lib/modules/${KERNEL_V}-mos"

        # Generate file list
        find "$MODULE_PATH" -name "*.ko*" -exec modinfo {} \; 2>/dev/null | \
          grep "^firmware:" | cut -d: -f2- | sed 's/^[[:space:]]*//' | sort -u \
          > "$WORK_DIR/required_firmware"

        # Make sure to copy all files including symlinks
        while read fw; do
          full="$WORK_DIR/linux-firmware/$fw"
          if [ -L "$full" ]; then
            echo "$fw" >> "$WORK_DIR/required_firmware_complete"
            target=$(readlink -f "$full")
            rel="${target#$WORK_DIR/linux-firmware/}"
            echo "$rel" >> "$WORK_DIR/required_firmware_complete"
          elif [ -f "$full" ]; then
            echo "$fw" >> "$WORK_DIR/required_firmware_complete"
          else
            echo "Missing Firmware: $fw" >&2
          fi
        done < "$WORK_DIR/required_firmware"

        # Remove duplicates
        sort -u -o "$WORK_DIR/required_firmware_complete" "$WORK_DIR/required_firmware_complete"

        # Copy firmware files
        rsync -av --files-from="$WORK_DIR/required_firmware_complete" "$WORK_DIR/linux-firmware/" /lib/firmware/

        # Copy over Modules and Firmware files and make sure to save attributes
        cp -a /lib/modules $WORK_DIR/$KERNEL_V/
        cp -a /lib/firmware $WORK_DIR/$KERNEL_V/
        rm -rf $WORK_DIR/$KERNEL_V/lib/modules/${KERNEL_V}-mos/build
        cd $WORK_DIR/$KERNEL_V

        # Create microcode
        cd $WORK_DIR
        INTEL_MICROCODE=$(curl -u ${{ github.actor }}:${{ secrets.GITHUB_TOKEN }} -s https://api.github.com/repos/intel/Intel-Linux-Processor-Microcode-Data-Files/releases/latest | jq -r '.tag_name')
        git clone --branch $INTEL_MICROCODE --single-branch --depth 1 https://github.com/intel/Intel-Linux-Processor-Microcode-Data-Files
        rm -f $WORK_DIR/Intel-Linux-Processor-Microcode-Data-Files/intel-ucode/0f-*
        cd $WORK_DIR/Intel-Linux-Processor-Microcode-Data-Files/intel-ucode
        iucode_tool -tb . -w $BUILD_DIR/microcode/kernel/x86/microcode/GenuineIntel.bin
        cp $WORK_DIR/firmware-source/amd-ucode/microcode_amd*.bin $BUILD_DIR/microcode/kernel/firmware/amd-ucode/
        cd $BUILD_DIR/microcode
        find . | cpio -o -H newc > $WORK_DIR/microcode

        # Copy licenses and copying to drivers
        mkdir -p $WORK_DIR/$KERNEL_V/usr/share/doc/linux/LICENSES/preferred
        cp $BUILD_DIR/$KERNEL_V/COPYING $WORK_DIR/$KERNEL_V/usr/share/doc/linux/COPYING
        cp $BUILD_DIR/$KERNEL_V/LICENSES/preferred/* $WORK_DIR/$KERNEL_V/usr/share/doc/linux/LICENSES/preferred/

        # Create drivers image
        mksquashfs $WORK_DIR/$KERNEL_V $WORK_DIR/drivers -noappend -comp xz

        # Create md5 sums
        md5sum $WORK_DIR/image | awk '{print $1}' > $WORK_DIR/image.md5
        md5sum $WORK_DIR/drivers | awk '{print $1}' > $WORK_DIR/drivers.md5
        md5sum $WORK_DIR/microcode | awk '{print $1}' > $WORK_DIR/microcode.md5
        md5sum $WORK_DIR/${KERNEL_V}-mos.tar.xz | awk '{print $1}' > $WORK_DIR/${KERNEL_V}-mos.tar.xz.md5

        echo "FW_COMMIT=$FW_COMMIT
        FW_COMMIT_SHORT=$FW_COMMIT_SHORT
        INTEL_MICROCODE=$INTEL_MICROCODE" >> $GITHUB_ENV

    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.event.inputs.kernel_version }}-mos
        release_name: "${{ github.event.inputs.kernel_version }}-mos"
        body: |
          Custom MOS Kernel and Drivers: ${{ github.event.inputs.kernel_version }}-mos

          ### Release contents:
          [Kernel](https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git/tree/?h=v${{ github.event.inputs.kernel_version }}): ${{ github.event.inputs.kernel_version }}
          [Firmware](https://git.kernel.org/pub/scm/linux/kernel/git/firmware/linux-firmware.git/commit/?id=${{ env.FW_COMMIT }}): ${{ env.FW_COMMIT_SHORT }}

          Microcode:
          [AMD](https://git.kernel.org/pub/scm/linux/kernel/git/firmware/linux-firmware.git/tree/amd-ucode?id=${{ env.FW_COMMIT }}): ${{ env.FW_COMMIT_SHORT }}
          [Intel](https://github.com/intel/Intel-Linux-Processor-Microcode-Data-Files/releases/tag/${{ env.INTEL_MICROCODE }}): ${{ env.INTEL_MICROCODE }}
        draft: false
        prerelease: false

    - name: Upload Kernel to Release
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ${{ github.workspace }}/image
        asset_name: image
        asset_content_type: application/vnd.debian.binary-package

    - name: Upload md5 to Release
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ${{ github.workspace }}/image.md5
        asset_name: image.md5
        asset_content_type: text/plain

    - name: Upload Drivers to Release
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ${{ github.workspace }}/drivers
        asset_name: drivers
        asset_content_type: application/vnd.debian.binary-package

    - name: Upload Drivers md5 to Release
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ${{ github.workspace }}/drivers.md5
        asset_name: drivers.md5
        asset_content_type: text/plain

    - name: Upload Microcode to Release
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ${{ github.workspace }}/microcode
        asset_name: microcode
        asset_content_type: application/vnd.debian.binary-package

    - name: Upload Microcode md5 to Release
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ${{ github.workspace }}/microcode.md5
        asset_name: microcode.md5
        asset_content_type: text/plain

    - name: Upload Kernel to Release
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ${{ github.workspace }}/${{ github.event.inputs.kernel_version }}-mos.tar.xz
        asset_name: ${{ github.event.inputs.kernel_version }}-mos.tar.xz
        asset_content_type: application/x-xz-compressed-tar

    - name: Upload Kernel md5 to Release
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ${{ github.workspace }}/${{ github.event.inputs.kernel_version }}-mos.tar.xz.md5
        asset_name: ${{ github.event.inputs.kernel_version }}-mos.tar.xz.md5
        asset_content_type: text/plain

    - name: Trigger mos-addon-drivers build workflow
      uses: actions/github-script@v7
      with:
        github-token: ${{ secrets.MOS_ADDON_DRIVERS }}
        script: |
          await github.rest.actions.createWorkflowDispatch({
            owner: context.repo.owner,
            repo: 'mos-addon-drivers',
            workflow_id: 'build_drivers.yml',
            ref: 'master',
            inputs: {
              kernel_version: '${{ github.event.inputs.kernel_version }}',
              drivers: 'all'
            }
          })

    - name: Cleanup
      if: always()
      run: rm -rf ${{ github.workspace }}/* ${{ github.workspace }}/.* /lib/modules /lib/firmware
